.driverTitle {
  position: absolute;
  height: 12%;
  width: 100%;
  background-color: #faf8f3;
  border-radius: 0px 0px 10px 10px;
  left: 0;
  top: 0;
  z-index: 10;
  box-shadow: 0 4px 2px -2px black;
  overflow: hidden;
  .driverName {
    position: absolute;
    text-decoration: underline;
    display: inline-block;
    font-size: 1.9em;
    letter-spacing: 0.2em;
    font-family: 'PT Serif', serif;
    left: 1em;
    top: 1em;
  }
  @media screen and (max-width: 460px) {
    .driverName {
      font-size: 1.2em;
    }
  }
}


.wikiDesc {
  position: absolute;
  top: 8em;
  text-align: left;
  left: 0;
  padding: 1em;
  margin-bottom: 3em;
}

.driverInfoButtons {
  position: absolute;
  display: inline-block;
  height: 5%;
  width: 96%;
  color: #faf8f3;
  border-radius: 0px 0px 10px 10px;
  background-color:#dbcd9d;
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
  top: 11.9%;
  left: 2%;
  overflow: hidden;
}

.driverImage {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 9%;
  left: 0;
  top: 20%;
  img {
    height: 100%;
    width: 100%;
  }
}

.closeModalButton {
  position: fixed;
  display: inline-block;
  bottom: 7%;
  font-family: 'PT Serif', serif;
  letter-spacing: 0.3em;
  right: 25%;
  width: 50%;
  box-shadow: -3px 2px 10px 0px black;
  background-color: #d6dcf0;
}
@media screen and (max-height: 700px) {
  bottom: 9%;
}
