html {
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
  background: url('http://i393.photobucket.com/albums/pp19/Althecoding1/dark-heavypaper_zpsh5rvorqy.png') center top;
}

@function black($opacity) {
  @return rgba(black, $opacity);
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';
  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};
    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} { @content; }
  @-moz-keyframes #{$animationName} { @content; }
  @-o-keyframes #{$animationName} { @content; }
  @keyframes #{$animationName} { @content; }
}

@import 'components/drivers/drivers';
@import 'components/drivers/driver';
@import 'components/drivers/driverInfo';
@import 'components/base/home';
@import 'components/base/base';
@import 'components/base/footer';
@import 'components/search/search';
@import 'components/news/news';
@import 'components/circuits/circuit';
@import 'components/drivers/drivermodal';
