.container-fluid {
  margin: 0 auto;
  text-align: center;
}

.text-center {
  text-align: center;
}

.top-bar {
  text-align: center;
  position: fixed;
  height: 65px;
  width: 100%;
  z-index: 4000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.5s ease;
  padding: 10px 0px 10px 0px;
}

.top-bar::after {
  content: '';
  display: block;
  clear: both;
}

.top-bar.scrollNav {
  background: url('http://i393.photobucket.com/albums/pp19/Althecoding1/dark-heavypaper_zpsh5rvorqy.png');
  opacity: 1;
  overflow:hidden;
  transition: all 0.9s ease;
  border-bottom: 1px solid rgba(200, 200, 200, 0.8);
  box-shadow: 4px 4px 5px black;
}

.top-bar-left {
  float: left;
  font-size: 1.5em;
}

.top-bar-center {
  text-align: center;
}

.top-bar-right {
  float: right;
}

.circuitButton {
  img {
    height: 50px;
    width: 80px;
  }
}

.webTitle {
  display: inline-block;
  position: absolute;
  left: 38%;
  bottom: 13%;
  transition: 0.2s;
  h3 {
    color: #d8d8d8;
    text-align: center;
    font-family: 'PT Serif', serif;
    line-height: 22px;
    letter-spacing: 0.2em;
    transition: 0.2s;
  }
}

.webTitle:hover {
  h3 {
    color: #C0C0C0;
  }
}
@media screen and (min-width: 800px) {
  .webTitle {
    left: 43%;
  }
}
@media screen and (max-width: 500px) {
  .webTitle {
    left: 24%;
  }
}
